.body {
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
    /* height: auto; */
    /* border: 1px solid black; */
    flex-direction: column;
}

.product {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.219);
    background-color: rgba(0, 0, 0, 0.1);
}

.listHead {
    background-color: rgba(0, 0, 0, 0.5);
}

.background {
    background-color: white;
}

.attribute {
    /* margin: auto; */
    margin: 5px;
}

.id {
    width: 220px;
}

.name {
    width: 200px;
    /* width: auto; */
    margin-right: 20px;
    align-self: flex-start;
}

.email {
    width: 250px;
    align-self: flex-end;
}

.role {
    width: 100px;
    align-self: flex-end;
}

.disable {
    width: 10ch;
    align-self: flex-end;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.35);
    padding: 5px;
    margin: auto;
    text-align: center;
    margin-right: 20px;
    align-self: flex-end;
    /* width: auto; */
    /* mix-blend-mode: difference; */
}

.red {
    background-color: rgba(209, 40, 40, 0.76);
}

.green {
    background-color: rgba(16, 153, 16, 0.76);
}
